body {
    padding-top: 60px;
    font-family: "Merriweather", sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

span.post-body {
    font-size: 14px;
    line-height: 1.75;
}

span.post-description {
    font-size: 16px;
}

.lobster {
    font-family: "Lobster", sans-serif;
    font-size: 25px;
}

.indent {
    padding-left: 0.6em;
}

.indent-2x {
    padding-left: 1.2em;
}

.img-circle {
    border-radius: 2%;
}

.navbar-nav > li {
    font-size: 16px;
}
