{% extends 'base.html' %}

{% load martortags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="text-center">
            <img class="img-circle" width="60%" height="250"
                 src='{% if post.preview_image %} {{ post.preview_image.url }} {% endif %}'>
            <h1>
                <a href="{% url 'post' slug=post.slug %}">
                    {{ post.title }}
                </a>
            </h1>
        </div>
        <div>
            <div class="text-center">
                <!--Include style for categories and tags for post-->
                {% include 'blog/block_categories_tags.html' %}
            </div>
            <span class="post-body">
                {{ post.description|safe_markdown }}
                {{ post.text|safe_markdown }}
            </span>
        </div>
    </div>
{% endblock %}
