{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Merriweather" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/mc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/custom_bootstrap.css' %}" />
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid text-center">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">KUTSEVOL BLOG</a>
        </div>
        <div id="main-menu-navbar" class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/categories">CATEGORIES</a></li>
            {# TODO "About" and "Archives" #}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {# TODO add some context #}
            </div>
            <div class="col-md-8">

                {% block content %}
                {% endblock %}

            </div>
            <div class="col-md-2">
                <div class="container-fluid">
                    <div id="mc_embed_signup">
                        <form action="//github.us15.list-manage.com/subscribe/post?u=d09b0b1b59ce2533b417871ed&amp;id=2fe8ad9698"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                              target="_blank" novalidate>
                            {% csrf_token %}
                            <label for="mce-EMAIL">
                                Email subscribe
                            </label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email..." required>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </form>
                    </div>
                </div>

                {% block right_content %}
                {% endblock %}

            </div>
        </div>
    </div>

</body>
</html>